@charset "utf-8";

body{
  background-color: rgb(71, 33, 71);
  margin-top: 80px;
}
main{
  margin: auto;
  background-color: azure;
  height: 300px;
  width: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 17, 17);
  text-align: center;
  color: rgb(71, 33, 71);
}
button{
  margin: 40px 15px;
  padding: 20px;
  border-radius: 30px;
  font-weight: bold;
  color:  rgb(71, 33, 71);
  border: 2px solid rgb(71, 33, 71);
  background-color:aliceblue;
  text-transform: uppercase;
 }
